@charset "UTF-8";

/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #ec261f;
    --destaque-inverso: #df6b67;
    --fundo-card: #ffffff;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 15px 17px;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1;
}

header #menu ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header #menu ul a {
    color: var(--texto);
    text-decoration: none;
    font-weight: bolder;
    padding: 15px 17px;
    transition: color 0.8s, font 1.2s;
    border-radius: 15px;
}

header #menu ul a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto-inverso);
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

main #ficha {
    background-color: var(--fundo-card);
    border-radius: 8px;
    grid-column: 2;
}

main #ficha img {
    width: 300px;
    aspect-ratio: 1/1;
    /*Dimensão da Imagem*/
    object-fit: cover;
    border-radius: 50%;
    /*Arredondar Imagem*/
    overflow: hidden;
    border: 2px solid var(--fundo-card);
    outline: 2px solid var(--destaque);
    padding: 10px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}



@media screen and (min-width: 768px) {
    main {
        grid-template-columns: auto 200px 1fr auto;
    }
}