@charset "UTF-8";

/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-claro: #5c5c5cad;
    --texto-inverso: #ffffff;
    --destaque: #ec261f;
    --destaque-inverso: #df6b67;
    --fundo-card: #ffffff;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 15px 17px;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1;
}

header #menu ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header #menu ul a {
    color: var(--texto);
    text-decoration: none;
    font-weight: bolder;
    padding: 12px 15px;
    transition: color 0.8s, font 1.2s;
    border-radius: 15px;
}

header #menu ul a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto-inverso);
}

main {
    /*display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;*/
    margin-top: 20px;
}

h1 {
    color: var(--texto);
    margin-bottom: 8px;
}

p {
    text-justify: auto;
    text-indent: 5px;
    line-height: 1.4em;
}


main #ficha {
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

section#ficha img {
    width: 300px;
    aspect-ratio: 1/1;
    /*Dimensão da Imagem*/
    object-fit: cover;
    border-radius: 50%;
    /*Arredondar Imagem*/
    overflow: hidden;
    border: 2px solid var(--fundo-card);
    outline: 2px solid var(--destaque);
    padding: 10px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

section#ficha h1 {
    color: var(--texto);
    margin: 15px 0;
    text-align: center;
    font-size: 1.5em;
}

div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    gap: 1em;
    padding: 8px;
    margin-top: 10px;
}

div#social a {
    color: var(--texto);
    text-decoration: none;
    transition: color 0.6s;
}

div#social a:hover {
    color: var(--texto-claro);
}

section#detalhes {
    grid-column: 2;
}

section#tecnologias {
    padding: 10px;
    margin: 10px;
}

section#skills {
    background-color: var(--fundo-card);
    padding: 15px;
    margin-bottom: 10px;
}

section#skills .container-skills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
}

.container-skills .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-skills .barra {
    background-color: var(--destaque);
    border-radius: 5px;
    padding: 4px;
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: auto 300px 1fr auto;
    }

    #menu {
        position: sticky;
    }

    section#ficha {
        grid-column: 2 / 3;
        height: fit-content;

        top: 65px;
    }

    section#detalhes {
        grid-column: 3 / 4;
    }

    #container-skills {
        grid-template-columns: 1fr 1fr;
    }
}